{{>navbar}}
<main class="pages">
<div class="full-vh">
    <div class="row hero z-depth-5">
        <h1 class="overlay center-align widget">Plant Care Made Easy</h1>
    </div>
</div>
<div class="row section-1">
    <div class="col s12 offset-m2 m3 widget">
        <img src="img/home2_md.png" alt="Woman watering plants">
    </div>
    <div class="col s12 m4 offset-m1 valign wrapper widget">
        <h2>The holy grail to plant care</h2>
        <p>There are plenty of tips to care for your plant. But there's a problem. 
            You keep forgetting to follow those tips. With the help of our reminder app, 
            you'll have healthy and happy plants in no time.</p>
    </div>
</div>
<div class="row section-3">
    <div class="col s12 m4 offset-m1 widget">
        <h2>Plants make people happy</h2>
        <p>Plants make us happier, healthier, more efficient 
            and boost our creativity. They even clean the air we breathe. 
            But some of us find it hard to keep the plants from going in the trash. So we thought: 
            why not make a reminder app? We think everyone deserves a second chance to plant parenthood. </p>
    </div>
    <div class="col s12 offset-m1 m5 widget">
        <img src="img/hero1.png" alt="Woman watering plants">
    </div>
</div>
<div class="row full-vh section-2 valign-wrapper">
    <div class="col offset-s2 s8 offset-s2">
        <span class="mission widget">Our Mission</span>
        <h2 style="line-height: 1.25;" class="widget">
            Our mission is to make the experience of plant care as easy as possible. Oh Gooday is the source that bridges 
            the gap between plants and people. We’re here to inspire confidence in the next 
            generation of plant parents.
        </h2>
    </div>
</div>
</main>
{{>footer}}